<div id="sidebar-wrap" ng-controller="NavCtrl">
	<uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
		<uib-accordion-group is-open="status.isFirstOpen">
			<uib-accordion-heading> Menu <i class="pull-right fa"
					ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
			</uib-accordion-heading>
			<ul id="navigation" nav-collapse ripple>
			
				
				<li ui-sref-active="active" ng-class="{'open':$state.includes('app.periodos')}">
					<a ui-sref="app.periodos">
						<i class="fa fa-calendar"></i> <span>Periodos</span>
					</a>
					<ul>
						<li ui-sref-active="active">
							<a ui-sref="app.periodos">
								<i class="fa fa-calendar"></i> Periodos
							</a>
						</li>
					</ul>
				</li>
				
			</ul>
		</uib-accordion-group>
	</uib-accordion>
</div>