<div class="table-responsive">
    <div class="input-group  input-group-lg" ng-show="$parent.cajaBusqueda">
        <input typeahead-min-length="0" type="text" class="form-control  b-0" placeholder="Buscar por nombre ..."
            ng-model="$parent.busqueda">
        <span class="input-group-btn"><button class="btn btn-default b-0" ng-click="$parent.busqueda='';" type="button">
                <i ng-show="$parent.busqueda" class="fa fa-times text-red"></i></button>
        </span>
    </div>
    <table class="table table-hover table-striped">
        <thead class="bg-cyan">
            <tr>
                <th style="width:3%" class="text-center">#</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Fecha inicio</th>
                <th class="text-center">Fecha fin</th>
                <th style="width:10%" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="objeto in objetos">
                <td style="vertical-align:middle;" class="text-center text-cyan">{{($parent.actual * 10) - 10 + $index +
                    1}}</td>
                <td class="text-center"> {{objeto.nombre}} </td>
                <td class="text-center"> {{objeto.fechaInicio | date:"MM/dd/yyyy" }} </td>
                <td class="text-center"> {{objeto.fechaFin | date:"MM/dd/yyyy"}} </td>
                <td class="text-center" style="vertical-align:middle;">
                    <div class="btn-group" uib-dropdown auto-close="outsideClick">
                        <button type="button" class="btn btn-link btn-xs" uib-dropdown-toggle> <span
                                class="fa fa-cog text-info"></span> </button>
                        <ul class="dropdown-menu dropdown-menu-right manita" uib-dropdown-menu>
                            <li><a ng-click="ctr.prepararObjeto(objeto.idPeriodo, $index)"><span
                                        class="fa fa-refresh text-info"></span> Modificar</a></li>
                            <li><a popover-animation="true" popover-trigger="outsideClick" popover-class="custom-font"
                                    uib-popover-template="'confirmacionPopOverGeneral.html'"
                                    popover-title="¿Desea  eliminar el elemento seleccionado?" popover-placement="left"
                                    ng-click="popoverIsOpen = !popoverIsOpen"><span
                                        class="fa fa-trash text-danger"></span> Eliminar</a></li>
                        </ul>
                    </div>

                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" ng-hide="objetos.length"> No se encuentran registros </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center" ng-show="objetos.length">
                    <uib-pagination total-items="total" ng-change="ctr.cambiarPagina()" ng-model="$parent.actual"
                        items-per-page="10" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"
                        num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></uib-pagination>
                </td>
                <td style="vertical-align: middle" class="text-center">
                    <div class="btn-group" aria-label="...">
                        <button type="button" class="btn btn-sm btn-default" disabled>Total: {{total}}</button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>